# D&A Agent Hub Environment Configuration
# Copy this file to .env and fill in your actual values


# Required

# dbt Cloud Configuration
DBT_HOST=cloud.getdbt.com
MULTICELL_ACCOUNT_PREFIX=
DBT_TOKEN=<your-dbt-token>
DBT_PROD_ENV_ID=12333
DBT_PROJECT_DIR=~/da-agent-hub/repos/dbt_cloud
DBT_PATH=<path-to-dbt-executable>
DISABLE_DBT_CLI=false
DISABLE_SEMANTIC_LAYER=false
DISABLE_DISCOVERY=false
DISABLE_SQL=true
DISABLE_TOOLS=
DISABLE_REMOTE=false




#Optional if you setup Github, Fresh Service MCPs

# Github
GITHUB_PERSONAL_ACCESS_TOKEN=your_github_pat

# Freshservice Configuration
FRESHSERVICE_APIKEY=your_freshservice_api_key
FRESHSERVICE_DOMAIN=graniterock.freshservice.com

